@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@import "utils";
@import "variables";

// Shared Components
@import "shared/container";
@import "shared/navbar";
@import "shared/line";
@import "shared/appButton";
@import "shared/footer";
@import "shared/baseHero";
@import "shared/zoomedImage";
@import "shared/packageModal";

// Home Page
@import "home/home";
// Products List
@import "shop/shop";
// Single Product
@import "product/product";
// Shopping Cart
@import "cart/cart";
// Payment Page
@import "payment/payment";
// Success Page
@import "success/success";

body {
  font-family: $font-primary;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
